[manager]

prepend_keymap = [
  # Navigation
  { on = [ "h" ], run = "leave", desc = "Go back" },
  { on = [ "l" ], run = "enter", desc = "Enter directory" },
  { on = [ "H" ], run = "back", desc = "Go back in history" },
  { on = [ "L" ], run = "forward", desc = "Go forward in history" },

  # Jumping
  { on = [ "g", "h" ], run = "cd ~", desc = "Go to home" },
  { on = [ "g", "c" ], run = "cd ~/.config", desc = "Go to config" },
  { on = [ "g", "d" ], run = "cd ~/dev", desc = "Go to dev" },
  { on = [ "g", "v" ], run = "cd ~/vault", desc = "Go to vault" },
  { on = [ "g", "D" ], run = "cd ~/Downloads", desc = "Go to downloads" },

  # Operations on files
  { on = [ "o" ], run = "open", desc = "Open" },
  { on = [ "O" ], run = "open --interactive", desc = "Open interactively" },
  { on = [ "e" ], run = "open", desc = "Open (edit)" },
  { on = [ "<Enter>" ], run = "open", desc = "Open" },

  # Selection
  { on = [ "<Space>" ], run = [ "select --state=none", "arrow 1" ], desc = "Toggle selection" },
  { on = [ "v" ], run = "visual_mode", desc = "Enter visual mode" },
  { on = [ "V" ], run = "visual_mode --unset", desc = "Enter visual mode (unset)" },
  { on = [ "<C-a>" ], run = "select_all --state=true", desc = "Select all" },
  { on = [ "<C-r>" ], run = "select_all --state=none", desc = "Inverse selection" },

  # Filtering
  { on = [ "/" ], run = "find --smart", desc = "Find" },
  { on = [ "?" ], run = "find --previous --smart", desc = "Find previous" },
  { on = [ "n" ], run = "find_arrow", desc = "Go to next found" },
  { on = [ "N" ], run = "find_arrow --previous", desc = "Go to previous found" },
  { on = [ "s" ], run = "search fd", desc = "Search with fd" },
  { on = [ "S" ], run = "search rg", desc = "Search with ripgrep" },

  # Sorting
  { on = [ "," ], run = "sort modified --reverse", desc = "Sort by modified time" },
  { on = [ "." ], run = "sort natural --dir-first", desc = "Sort naturally" },

  # Tabs
  { on = [ "t" ], run = "tab_create --current", desc = "Create new tab" },
  { on = [ "<C-w>" ], run = "tab_close 0", desc = "Close current tab" },
  { on = [ "1" ], run = "tab_switch 0", desc = "Switch to tab 1" },
  { on = [ "2" ], run = "tab_switch 1", desc = "Switch to tab 2" },
  { on = [ "3" ], run = "tab_switch 2", desc = "Switch to tab 3" },
  { on = [ "4" ], run = "tab_switch 3", desc = "Switch to tab 4" },
  { on = [ "5" ], run = "tab_switch 4", desc = "Switch to tab 5" },
  { on = [ "[" ], run = "tab_switch -1 --relative", desc = "Switch to previous tab" },
  { on = [ "]" ], run = "tab_switch 1 --relative", desc = "Switch to next tab" },

  # Copy & paste
  { on = [ "y" ], run = "yank", desc = "Copy" },
  { on = [ "x" ], run = "yank --cut", desc = "Cut" },
  { on = [ "p" ], run = "paste", desc = "Paste" },
  { on = [ "P" ], run = "paste --force", desc = "Paste (overwrite)" },

  # Delete
  { on = [ "d" ], run = "remove", desc = "Move to trash" },
  { on = [ "D" ], run = "remove --permanently", desc = "Delete permanently" },

  # Create
  { on = [ "a" ], run = "create", desc = "Create file or directory" },
  { on = [ "r" ], run = "rename --cursor=before_ext", desc = "Rename" },

  # Shell
  { on = [ "!" ], run = "shell '$SHELL' --block --confirm", desc = "Open shell" },

  # Hidden files
  { on = [ "z", "h" ], run = "hidden toggle", desc = "Toggle hidden files" },

  # Help
  { on = [ "~" ], run = "help", desc = "Help" },
]

[tasks]

keymap = [
  { on = [ "<Esc>" ], run = "close", desc = "Close task manager" },
  { on = [ "j" ], run = "arrow 1", desc = "Move down" },
  { on = [ "k" ], run = "arrow -1", desc = "Move up" },
  { on = [ "x" ], run = "cancel", desc = "Cancel selected task" },
]

[select]

keymap = [
  { on = [ "<Esc>" ], run = "close", desc = "Cancel" },
  { on = [ "<Enter>" ], run = "close --submit", desc = "Submit" },
  { on = [ "j" ], run = "arrow 1", desc = "Move down" },
  { on = [ "k" ], run = "arrow -1", desc = "Move up" },
]

[input]

keymap = [
  { on = [ "<Esc>" ], run = "close", desc = "Cancel" },
  { on = [ "<Enter>" ], run = "close --submit", desc = "Submit" },
  { on = [ "<C-c>" ], run = "close", desc = "Cancel" },
  { on = [ "<C-u>" ], run = "kill bol", desc = "Kill to beginning of line" },
  { on = [ "<C-k>" ], run = "kill eol", desc = "Kill to end of line" },
  { on = [ "<C-w>" ], run = "kill backward", desc = "Kill backward" },
  { on = [ "<C-a>" ], run = "move bol", desc = "Move to beginning of line" },
  { on = [ "<C-e>" ], run = "move eol", desc = "Move to end of line" },
]

[help]

keymap = [
  { on = [ "<Esc>" ], run = "close", desc = "Close help" },
  { on = [ "q" ], run = "close", desc = "Close help" },
  { on = [ "j" ], run = "arrow 1", desc = "Move down" },
  { on = [ "k" ], run = "arrow -1", desc = "Move up" },
]
